<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>result search</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include("./common/_navbar_.ejs") %>
    <div class="container">
      <div class="row">
        <% shoes.forEach(shoe => { %>
        <div class="card col col-lg-3 col-md-6 col-sm-12 mt-2 mb-2">
          <div class="card-container">
            <img src="<%= shoe.image %>" class="card-img-top" alt="کفش" />
            <div class="card-body">
              <h5 class="card-title"><%= shoe.title %></h5>
              <div class="card-text">
                <p><%= shoe.description %></p>
                <p>سایز: <span><%= shoe.size %></span></p>
                <p>رنگ: <span><%= shoe.color %></span></p>
              </div>
              <a href="/shoeInfo/<%= shoe.id %> " class="btn btn-primary"
                >خرید</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>